$added_grey: #E2E3E5;
$added_blue: #5D5FEF;

#root {
    display: flex;
    justify-content: center;
}

.App {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;

    display: flex;
    flex-direction: column;
    width: 695px;
    height: 640px;
    border: 6px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    width: 243px;
    height: 448px;
    border: 2px dashed #C4C4C4;
    border-radius: 6px;
}

.field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;

    width: 240px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.clearBtn {
    width: 240px;
    height: 60px;

    cursor: pointer;

    border-radius: 20px;
    margin-bottom: 10px;

    background-color: rgb(198, 198, 198);

        &:hover {
            background-color: rgb(167, 166, 166);
        }
}

.equals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;

    width: 240px;
    height: 72px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            width: 232px;
            height: 64px;

            color: white;
            background-color: #5D5FEF;
            border-radius: 6px;
            border: none;
            transition: .2s;

                &:hover {
                    background-color: #4b4dc4;
                }

                &:active {
                    transition: .2s;
                    border: 13px solid #4b4dc4;
                }
        }
}

.inputPanel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 12px;


    height: 224px;
    width: 240px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.value_keeper {
    padding: 4px;
    text-align: right;
    
    white-space: nowrap;    

    font-size: 36px;
    font-weight: 800;

    width: 224px;
    height: 52px; //44
    background-color: #F3F4F6;
    border-radius: 6px;
}

.digit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 72px;
    height: 48px;

    border: 1px solid #E2E3E5;
    border-radius: 6px;

    background-color: white;
    cursor: pointer;

        &:hover {
            border: 2px solid #5D5FEF;
        }
        &:active {
            color: white;
            background-color: #5D5FEF;
        }
}

.digit_0 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 152px;
    height: 48px;

    border: 1px solid #E2E3E5;
    border-radius: 6px;

    background-color: white;
    cursor: pointer;

        &:hover {
            border: 2px solid #5D5FEF;
        }
        &:active {
            color: white;
            background-color: #5D5FEF;
        }
}

.operator {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 52px;
    height: 48px;

    border: 1px solid #E2E3E5;
    border-radius: 6px;

    background-color: white;
    cursor: pointer;

        &:hover {
            border: 2px solid #5D5FEF;
        }

        &:active {
            color: white;
            background-color: #5D5FEF;
        }
}

